*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Questrial', sans-serif;
}

#container{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    /*atributos grid*/
    grid-template-columns: 41% 59%;
    grid-template-rows: 1fr;
}

#carrito{
    background-color: #eaeaea;
}

#validacion{
    display: grid;
    background-color: white;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
}

#info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
}

#info h1{
    font-size: 48px;
    color: #02EBC1;
    font-weight: lighter;
    padding-bottom: 90px;
    letter-spacing: 1.5px;
}

#info h2{
    font-size: 26px;
    padding-bottom: 30px;
}

input{
    margin: 0 auto;
    width: 500px;
    height: 54px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 32px;
    text-align: center;
}

button{
    width: 250px;
    height: 50px;
    background-color: #00D3F0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    color: white;
}

button:hover{
    background-color: #00C9E4;
}

.ocultar{
    display: none;
}

.mostrar {
    display: grid;
}

#container2{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    grid-template-columns: 41% 59%;
    grid-template-rows: 1fr;
}

#carrito2{
    background-color: #eaeaea;
}

#container2 img{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

#validacion2{
    display: grid;
    background-color: white;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
}

#validacion2 h2{
    font-size: 36px;
}

#validacion2 img{
    margin-bottom: 20px;
}

#info2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
}

#info2 h1{
    font-size: 48px;
    color: #02EBC1;
    font-weight: lighter;
    padding-bottom: 50px;
}

#numeroOculto{
    font-size: 36px;
    margin-bottom: 20px;
}
