*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Questrial', sans-serif;
}

#container{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    /*atributos grid*/
    grid-template-columns: 41% 59%;
    grid-template-rows: 1fr;
}

#carrito, #carrito2{
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 30% auto 30%;
}

#galeriaCarrito, #galeriaCarrito2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-sizing: border-box;
}

#galeriaCarrito h1, #galeriaCarrito2 h1{
    display: inline-block;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 30px;
    font-size: 32px;
}

#galeriaCarrito h2, #galeriaCarrito2 h2{
    display: inline-block;
    width: 100%;
    text-align: right;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 32px;
}

#fotos, #fotos2{
    display: grid;
    width: 100%;
    height: 130px;
    grid-template-columns: auto auto auto;
}

#fotos img, #fotos2 img{
    width: 130px;
    height: 130px;
}

#img2, #img5{
    justify-self: center;
}

#img3, #img6{
    justify-self: right;
}

#validacion{
    display: grid;
    background-color: white;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 20% auto 20%;
}

#info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
}

#info h1{
    font-size: 48px;
    color: #02EBC1;
    font-weight: lighter;
    padding-bottom: 90px;
    letter-spacing: 1.5px;
}

#info h2{
    font-size: 26px;
    padding-bottom: 30px;
}

input{
    margin: 0 auto;
    width: 500px;
    height: 54px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 32px;
    text-align: center;
}

#btnValidar{
    width: 250px;
    height: 50px;
    background-color: #00D3F0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    color: white;
}

#btnRegresar{
    width: 250px;
    height: 50px;
    background-color: #00D3F0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    color: white;
    margin-top: 25px;
}

#btnSeguirCompra{
    width: 350px;
    height: 50px;
    background-color: #00D3F0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    color: white;
    margin-top: 25px;
}

#btnValidar:hover{
    background-color: #00C9E4;
}

.ocultar{
    display: none;
}

.mostrar {
    display: grid;
}

#container2{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    grid-template-columns: 41% 59%;
    grid-template-rows: 1fr;
}

#carrito2{
    background-color: #eaeaea;
}

#container2 #emoticon{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 55px;
}

#validacion2{
    display: grid;
    background-color: white;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 20% auto 20%;
}

#info2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
}

#mensaje{
    font-size: 48px;
    color: #02EBC1;
    font-weight: lighter;
    margin-bottom: 50px;
}

#numeroOculto{
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: lighter;
}
